
out/production/JavaAppiumAutomation/FirstTest.class
out/production/JavaAppiumAutomation/MainClass.class
out/production/JavaAppiumAutomation/MainClassTest.class
.idea/workspace.xml
.idea/workspace.xml
apks/.DS_Store
apks/.DS_Store
apks/Wikipedia.app/_CodeSignature/CodeResources
apks/Wikipedia.app/AboutViewController.plist
