
out/production/JavaAppiumAutomation/FirstTest.class
out/production/JavaAppiumAutomation/MainClass.class
out/production/JavaAppiumAutomation/MainClassTest.class
.idea/workspace.xml
.idea/workspace.xml
apks/.DS_Store
apks/.DS_Store
apks/Wikipedia.app/_CodeSignature/CodeResources
apks/Wikipedia.app/AboutViewController.plist
.DS_Store
.idea/uiDesigner.xml
.idea/workspace.xml
out/production/JavaAppiumAutomation/lib/CoreTestCase.class
out/production/JavaAppiumAutomation/lib/IOSTestCase.class
out/production/JavaAppiumAutomation/lib/Platform.class
out/production/JavaAppiumAutomation/lib/ui/android/AndroidNavigationUI.class
out/production/JavaAppiumAutomation/lib/ui/android/AndroidSearchPageObject.class
out/production/JavaAppiumAutomation/lib/ui/ArticlePageObject.class
.idea/uiDesigner.xml
.idea/workspace.xml
out/production/JavaAppiumAutomation/tests/SearchTests.class
out/production/JavaAppiumAutomation/tests/MyListsTests.class
out/production/JavaAppiumAutomation/tests/iOS/GetStartedTest.class
out/production/JavaAppiumAutomation/tests/GetStartedTest.class
out/production/JavaAppiumAutomation/tests/ChangeAppConditionTests.class
out/production/JavaAppiumAutomation/tests/ArticleTests.class
out/production/JavaAppiumAutomation/META-INF/JavaAppiumAutomation.kotlin_module
out/production/JavaAppiumAutomation/lib/ui/WelcomePageObject.class
out/production/JavaAppiumAutomation/lib/ui/SearchPageObject.class
out/production/JavaAppiumAutomation/lib/ui/NavigationUI.class
out/production/JavaAppiumAutomation/lib/ui/MyListsPageObject.class
out/production/JavaAppiumAutomation/lib/ui/MainPageObject.class
out/production/JavaAppiumAutomation/lib/ui/ios/iOSSearchPageObject.class
